<li [ngClass]="{'list-group-item':true, 
'list-group-item-success': getListOnStatus(),
'list-group-item-danger': getListOffStatus()

}">
  <div class="status"></div>
  <h4 [ngStyle]="{
    color:getColor()
  }">Appareil: {{appareil.name }} -- Statut {{getStatus()}}</h4>
  <input type="text" class="form-control" [(ngModel)]="appareil.name">
  <button class="btn btn-success" (click)="onSwitchOnOne()" [disabled]="appareil.status === 'allumé'">Allumer</button>
  <button class="btn btn-danger" (click)="onSwitchOffOne()" [disabled]="appareil.status === 'éteint'">Éteindre</button>
</li>