<li [ngClass]="{'list-group-item':true, 
'list-group-item-success': getListOnStatus(),
'list-group-item-danger': getListOffStatus()

}">
  <div class="status"></div>
  <h4 [ngStyle]="{
    color:getColor()
  }">Appareil: {{appareil.name }} -- Statut {{getStatus()}}</h4>
  <input (change)="onUpdateAppareil()" type="text" class="form-control" [(ngModel)]="appareil.name">
  <a [routerLink]="'/appareils/' + [appareil.id]">détails</a>
  <button class="btn btn-success" (click)="toggleAppareilStatus('ON')"
    [disabled]="appareil.status === 'allumé'">Allumer</button>
  <button class="btn btn-primary" (click)="toggleAppareilStatus('OFF')"
    [disabled]="appareil.status === 'éteint'">Éteindre</button>
  <button class="btn btn-danger" (click)="onDeleteOneAppareil()">Supprimer</button>
</li>